@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 197 93% 94%;
    --foreground: 224 71% 4%;
    --card: 197 93% 94%;
    --card-foreground: 224 71% 4%;
    --popover: 197 93% 94%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 197 80% 88%;
    --muted-foreground: 197 30% 40%;
    --accent: 283 44% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 80%;
    --input: 197 50% 85%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 283 44% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 197 93% 94%;
    --card: 220 40% 5%;
    --card-foreground: 197 93% 94%;
    --popover: 220 40% 5%;
    --popover-foreground: 197 93% 94%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 30% 15%;
    --secondary-foreground: 197 93% 94%;
    --muted: 220 30% 15%;
    --muted-foreground: 197 50% 70%;
    --accent: 283 44% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 30% 15%;
    --input: 220 30% 15%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 283 44% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
